/* Color Theme Swatches in Hex */
/* .Omonia-—-Branding-&-Website-1-hex { color: #0B0B0D; }
.Omonia-—-Branding-&-Website-2-hex { color: #3E3E40; }
.Omonia-—-Branding-&-Website-3-hex { color: #BAD3D9; }
.Omonia-—-Branding-&-Website-4-hex { color: #F2F2F2; }
.Omonia-—-Branding-&-Website-5-hex { color: #8C8C8C; } */

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 360x;
}

body {
  margin: 0px;
  padding: 0px;
  background: #0b0b0d;
  color: #f2f2f2;
}

.name {
  text-align: center;
  min-height: 60px;
  margin-top: 30px;

  padding: 5px;
}

.navbar {
  background: #3e3e40;
  display: flex;
  color: #f2f2f2;
  justify-content: space-around;
  min-height: 50px;
}

nav {
  min-height: 50px;
}

h4 {
  display: flex;
  padding: 5px;
  justify-content: center;
  list-style-type: none;
  font-size: 120%;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0px;
}

h1 {
  font-size: 120%;
  margin: 0px;
  padding: 2px;
}

p {
  margin: 0px;
  /* padding-top: 20px; */
}

h2 {
  margin: 0px;
  padding: 10px;
  min-height: 250px;
  /* padding-top: 150px;
    padding-bottom: 350px; */
}

h2,
h3,
p {
  margin: 0px;
}

h3 {
  padding: 20px;
  font-size: 250%;
}
main {
  border: 0;
}

.score,
.progress {
  padding-left: 5px;
  padding-right: 5px;
}
.quizStart,
.feedback,
.finalFeedback {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feedback {
  min-height: 450px;
}

.finalFeedback {
  min-height: 429px;
}

.feedback > p,
.finalFeedback > p {
  font-size: 150%;
  padding: 20px;
  padding-top: 20px;
  font-weight: bolder;
}

.startButton,
.nextButton,
.restartButton {
  background: #3e3e40;
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  margin-bottom: 120px;
}

.options {
  background-size: 360px;
  background-position: center;
  background-repeat: no-repeat;
}

.qnaForm {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  border: 0px;
}

form {
  padding-bottom: 20px;
}

.question {
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  font-size: 150%;

  padding: 15px;
  font-weight: bolder;
}

.optionA,
.optionB,
.optionC,
.optionD {
  display: block;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 100%;
  text-align: center;
  border: #f2f2f2 2px solid;
  border-radius: 6px;
  margin-top: 0px;
  font-size: 150%;
  color: #f2f2f2;

  /* text-shadow: 2px 2px 1px black;       */
}

/* .feedback {
    display: block;
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 75px;
    font-size: 120%;
    background-image: url(images/background.jpg);
} */

.feedback > p {
  padding-bottom: 75px;
}

footer {
  display: flex;
  flex-direction: row;
  /* border-top: solid 3px #ededed; */
}

footer > p {
  display: flex;
  border: 0px;
  /* height: 50px; */
  list-style-type: none;
  justify-content: space-around;
  flex-grow: 1;
}

a:link,
a:visited {
  text-decoration: none;
  padding: 10px;
  color: #f2f2f2;
}
